
.Navbar li:hover{
  color:white;
  cursor:pointer;
}
.grid{
  display: grid;
  width: 80%;
  margin:auto;
  height:100vh;
  grid-template-areas:
  "nav nav nav nav nav nav nav nav"
  "pic pic pic pic stat stat stat stat"
  "pic pic pic pic stat stat stat stat"
  "pic pic pic pic stat stat stat stat"
  "pic pic pic pic stat stat stat stat"
  "pic pic pic pic stat stat stat stat"
  "pic pic pic pic stat stat stat stat"
  "pic pic pic pic stat stat stat stat"
  "desc desc desc desc desc desc desc desc"
  "tab tab tab tab tab tab tab tab"
  "tab tab tab tab tab tab tab tab"
  "info info info info info info info info"
  "info info info info info info info info"
  "info info info info info info info info"
  "info info info info info info info info"
  "info info info info info info info info"
  "info info info info info info info info"
  "info info info info info info info info"

}
.nav{
  grid-area:nav;
  background:red;
}

.pic{
  grid-area: pic;
  background: blue;
}
.stat{
  grid-area: stat;
  background:yellow;
}
.desc{
  grid-area: desc;
  background: white;
}

.tab{
  grid-area: tab;
  background:purple;
}
.info{
  grid-area:info;
  background: orange;
}
